/*Header*/
.header{
    padding: 26px 0px 22px;

&__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

&__link{
    text-decoration: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #1D1E25;
    margin-right: 32px;
    position: relative;
}

&__link:nth-child(4){
    margin-right: 68px;
}

&__link::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    background: #020000;
    width: 100%;
    height: 3px;
    opacity: 0;
    transition: 0.5s;
}

&__link:hover::after{
    opacity: 1;
}
}

/*Main-screen*/
.main-screen{
    padding: 87px 0 135px;

&__box{
    display: flex;
    position: relative;
}

&__box::before{
    content: "";
    position: absolute;
    background: #FA7515;
    filter: blur(110px);
    right: 539px;
    bottom: 102px;
    opacity: 0.13;
    width: 551px;
    height: 551px;
    border-radius: 50%;
    z-index: -1;
}

&__box::after{
    content: "";
    position: absolute;
    background: #E2F8F0;
    filter: blur(90px);
    right: -166px;
    top: 102px;
    opacity: 0.70;
    width: 525px;
    height: 525px;
    border-radius: 50%;
    z-index: -1;
}
}